@import 'tailwindcss';

@keyframes scrollLeft {
  to {
    left: -250px;
  }
}

@custom-variant dark (&:where(.dark, .dark *));

.infinite-wrapper {
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

.infinite {
  width: 200px;
  left: max(calc(200px * 5), 100%);
  animation-name: scrollLeft;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.infinite-1 {
  animation-delay: calc(30s / 5 * (5 - 1) * -1);
}
.infinite-2 {
  animation-delay: calc(30s / 5 * (5 - 2) * -1);
}
.infinite-3 {
  animation-delay: calc(30s / 5 * (5 - 3) * -1);
}
.infinite-4 {
  animation-delay: calc(30s / 5 * (5 - 4) * -1);
}
.infinite-5 {
  animation-delay: calc(30s / 5 * (5 - 5) * -1);
}
